.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    max-width: 960px;
    box-sizing: border-box;
    border-left: 1px solid black;
    border-top: 1px solid black;
}